html {
  font-size: 16px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Mono", monospace;
  min-height: 0vw;
}

.container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

span {
  color: white;
}

section {
  height: 100vh;
  scroll-snap-align: start;
  color: white;
  width: 100%;
}

.btn {
  position: fixed;
  z-index: 999;
  top: 30px;
  right: 50px;
  background-color: rgba(44, 57, 75, 0);
  border: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: auto;
  height: 100%;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.greeting {
  position: relative;
  z-index: 999;
  left: 20%;
  width: 100%;
  margin: 0 auto;
  /* padding: 2em; */
  /* border-left: 10px solid white; */
  /* border-bottom: 10px solid white; */
}

.svg {
  /* width: 100%; */
  position: relative;
  right: 10%;
  width: 100%;
  /* overflow: hidden; */
}

.svg img {
  /* max-width: 100%; */
  /* max-width: 100%; */
}

.land {
  background-color: #2c394b;
}

.flex-container h1 {
  font-size: 4rem;
  font-weight: 600;
  width: max-content;
}

.flex-container h3 {
  font-size: 2.25rem;
  font-weight: 400;
}

/* nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  ul {
    list-style-type: none;
  }
  li {
    color: rgba(255, 255, 255, 0.5);
  } */

.project {
  background-color: #1f2d38;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
}

.about {
  background-color: #082032;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
}

.wrapper-project {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 80%;
  margin: 0 auto;
  font-size: 1.75rem;
}

.col-1,
.col-2,
.col-3 {
  width: 30%;

  /* margin: 12em auto; */
}

.col-1 img,
.col-2 img,
.col-3 img {
  width: 100%;
}

.col-1-1 {
  width: 30%;
  margin: 12em auto;
}

.col-1-1 img {
  width: 100%;
  margin: 0 auto;
}

.col-2-1 {
  width: 60%;
  margin: 12em auto;
}

.col-2-1 img {
  margin: 3rem auto;
}

.icons {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin: 0 auto;
}

/* -------------- */
/* MEDIA QUERIES */
/* ------------ */

@media (max-width: 900px) {
  .wrapper-project {
    max-width: 90%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .project {
    height: auto;
  }

  .project p {
    /* text-align: center; */
    margin-left: 2em;
    /* font-size: 1rem; */
  }

  .about {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: auto;
  }

  .about p {
    text-align: center;
  }

  .land {
    height: 100vh;
    display: flex;
    align-items: center;
  }

  .col-1,
  .col-3 {
    width: 80%;
    margin: 2em auto;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  .col-2 {
    width: 80%;
    margin: 0 auto;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  .col-1 img,
  .col-2 img,
  .col-3 img {
    width: 40vh;
  }

  .col-1-1 {
    width: 40%;
    margin: 1em auto;
  }

  .col-1-1 img {
    width: 100%;
    margin: 0 auto;
  }

  .col-2-1 {
    width: 80%;
    margin: 1em auto;
  }

  .icons {
    display: flex;
    justify-content: space-evenly;
    margin: 1em auto;
  }
}

@media (max-width: 700px) {
  html {
    font-size: 10px;
  }
  .container {
    scroll-snap-type: none;
    height: 100vh;
  }

  .wrapper {
    display: flex;
    width: 90%;
    max-width: 1080px;
    margin: 0 auto;
  }
  .flex-container {
    max-width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    /* margin: -20% auto 0 auto; */
  }

  .greeting {
    position: relative;
    z-index: 100;
    /* text-align: justify; */
    top: 33%;
    left: 10%;
    width: 100%;
    margin: 0 auto;
  }

  h1,
  h3 {
    width: max-content;
    margin: 0 auto;
  }
  .svg {
    width: 90vw;
    /* margin: auto 0 auto -3rem; */
    margin: 0 auto;
  }

  .svg img {
    max-width: 100%;
  }

  .flex-container h1 {
    font-size: 3rem;
    font-weight: 600;
  }

  .flex-container h3 {
    font-size: 2rem;
    font-weight: 400;
  }
  /* section {
    height: 100vh;
  } */

  .nav {
    visibility: hidden;
  }

  nav {
    display: block;
    font-size: 3rem;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0 auto;
    color: white;
    background-color: rgba(44, 57, 75, 0.9);
    height: 100vh;
    text-align: center;
  }

  ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    top: 10%;
  }

  li {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
  }

  .wrapper-project {
    max-width: 90%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .project {
    height: auto;
  }

  p {
    text-align: center;
  }

  .about {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
  }

  .land {
    height: 100vh;
    display: flex;
    align-items: center;
  }

  .col-1,
  .col-3 {
    width: 90%;
    margin: 2em auto;
    display: initial;
  }

  .col-2 {
    width: 90%;
    margin: 0 auto;
    display: initial;
  }

  .col-1 img,
  .col-2 img,
  .col-3 img {
    width: 100%;
  }

  /* .col-2 img {
    width: 100%;
  }

  .col-3 {
    width: 90%;
    margin: 2em auto;
  }

  .col-3 img {
    width: 100%;
  } */

  .col-1-1 {
    width: 50%;
    margin: 1em auto;
  }

  .col-1-1 img {
    width: 100%;
    margin: 0 auto;
  }

  .col-2-1 {
    width: 90%;
    margin: 1em auto;
  }

  .icons {
    display: flex;
    justify-content: space-evenly;
    margin: 1em auto;
  }
}
