* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Mono", monospace;
  min-height: 0vw;
}

.container {
  height: 100vh;
}

span {
  color: white;
}

section {
  height: 100vh;
  scroll-snap-align: start;
  color: white;
  width: 100%;
}

.land {
  background-color: #2c394b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

.land h1 {
  font-size: 5vw;
  padding: 0;
  margin: 0 auto;
  width: fit-content;
  position: relative;
  z-index: 1;
  left: 0;
}

.land p {
  font-size: 2vw;
  padding: 0;
  margin: 0 auto;
  width: fit-content;
  position: relative;
  z-index: 1;
}

.land img {
  height: 80vh;
  position: absolute;
  z-index: 0;
  top: calc(100vh / 10);
  right: 20%;
}

.project {
  background-color: #1f2d38;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.wrapper-project {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

.col-1,
.col-2,
.col-3 {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.wrapper-project p {
  font-size: 1.5vw;
}

.wrapper-project img {
  width: 100%;
}

.about {
  background-color: #082032;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper-about {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.wrapper-about p {
  font-size: 1.5vw;
  line-height: 200%;
  width: 60%;
  margin: 0 auto;
}

.wrapper-about img {
  width: 30%;
  margin: 0 auto;
}

.icons {
  display: flex;
  flex-direction: column;
}

.icons img {
  width: 40px;
  margin: 10px auto;
}

@media (max-width: 800px) {
  .land img {
    height: 50vh;
    /* top: 30vh; */
    top: calc(100vh / 4);
    right: 10%;
  }

  .about {
    height: fit-content;
  }
  .project {
    height: fit-content;
  }

  .wrapper-project {
    width: 90%;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .wrapper-project p {
    font-size: 3vw;
    margin: 0 20px;
    width: 40%;
  }

  .col-1,
  .col-2,
  .col-3 {
    width: 100%;
    flex-direction: row;
    margin: 20px auto;
  }

  .wrapper-project img {
    width: 60%;
    margin: 0 auto;
  }

  .wrapper-about {
    flex-direction: column;
  }

  .icons {
    flex-direction: row;
  }

  .wrapper-about {
    width: 90%;
  }

  .wrapper-about p {
    width: 100%;
    font-size: 3vw;
    text-align: center;
  }

  .wrapper-about img {
    width: 50%;
    margin: 20px auto;
  }

  .icons {
    display: flex;
    flex-direction: row;
  }

  .icons img {
    width: 30px;
    margin: 10px 20px;
  }
}
