html {
  font-size: 10px;
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Mono", monospace;
}

.container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

span {
  color: white;
}

section {
  scroll-snap-align: start;
  color: white;
  width: 100%;
}

.btn {
  position: fixed;
  z-index: 999;
  top: 30px;
  right: 50px;
  background-color: rgba(44, 57, 75, 0);
  border: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  width: 90%;
  max-width: 1080px;
  margin: 0 auto;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.greeting {
  position: relative;
  z-index: 100;
  text-align: justify;
  top: 50%;
}

.svg {
  width: 90vw;
  margin: auto 0 auto -3rem;
  transform: rotate(360deg);
}

.svg img {
  max-width: 100%;
}

.land {
  background-color: #2c394b;
}

.flex-container h1 {
  font-size: 3rem;
  font-weight: 600;
}

.flex-container h3 {
  font-size: 2rem;
  font-weight: 400;
}

nav {
  display: none;
}
ul {
  list-style-type: none;
}

li {
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #ff4c29;
}

.nav ul li a.active {
  color: #ff4c29;
}

.project {
  background-color: #1f2d38;
  margin: 0;
  padding: 0;
}

.about {
  background-color: #082032;
}

.wrapper-project {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  font-size: 1.75rem;
}

.col-1 {
  width: 90%;
  margin: 2em auto;
}

.col-1 img {
  width: 100%;
}

.col-2 {
  width: 90%;
  margin: 0 auto;
}

.col-2 img {
  width: 100%;
}

.col-3 {
  width: 90%;
  margin: 2em auto;
}

.col-3 img {
  width: 100%;
}

.col-1-1 {
  width: 50%;
  margin: 1em auto;
}

.col-1-1 img {
  width: 100%;
  margin: 0 auto;
}

.col-2-1 {
  width: 90%;
  margin: 1em auto;
}

.icons {
  display: flex;
  justify-content: space-evenly;
  margin: 1em auto;
}

@media (max-width: 640px) {
  .container {
    scroll-snap-type: none;
    overflow-y: none;
    height: 100vh;
  }

  .flex-container {
    max-width: 90%;
    flex-direction: column;
    height: 100vh;
    margin: -20% auto 0 auto;
  }

  .nav {
    visibility: hidden;
  }

  nav {
    display: block;
    font-size: 3rem;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0 auto;
    color: white;
    background-color: rgba(44, 57, 75, 0.9);
    height: 100vh;
    text-align: center;
  }

  ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    top: 10%;
  }

  li {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
  }

  .wrapper-project {
    max-width: 90%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  p {
    text-align: center;
  }

  .about {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .land {
    height: 100vh;
    display: flex;
    align-items: center;
  }

  .col-1 {
    width: 90%;
    margin: 2em auto;
  }

  .col-1 img {
    width: 100%;
  }

  .col-2 {
    width: 90%;
    margin: 0 auto;
  }

  .col-2 img {
    width: 100%;
  }

  .col-3 {
    width: 90%;
    margin: 2em auto;
  }

  .col-3 img {
    width: 100%;
  }

  .col-1-1 {
    width: 50%;
    margin: 1em auto;
  }

  .col-1-1 img {
    width: 100%;
    margin: 0 auto;
  }

  .col-2-1 {
    width: 90%;
    margin: 1em auto;
  }

  .icons {
    display: flex;
    justify-content: space-evenly;
    margin: 1em auto;
  }
}
