html {
  font-size: 16px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Mono", monospace;
}

.container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

span {
  color: white;
}

section {
  height: 100vh;
  scroll-snap-align: start;
  color: white;
  width: 100%;
}

.land {
  background-color: #2c394b;
}

.btn {
  position: fixed;
  z-index: 999;
  top: 30px;
  right: 50px;
  background-color: rgba(44, 57, 75, 0);
  border: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: auto;
  height: 100%;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.project {
  background-color: #1f2d38;
}

.about {
  background-color: #082032;
}
